.main {
  height: 100vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main {
    height: 90vh;
  }
}

.logo {
  display: flex;
  animation: fade 1s ease-in-out 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
