.main {
  height: 90vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.logo {
  display: flex;
  animation: fade 1s ease-in-out 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
